{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block main %}
    <h1>Добро пожаловать в систему для профориентации!</h1>
    <p>Если ты ещё не определился с какой деятельностью хочешь связать свою жизнь  - не переживай!</p>
    <p>Наша команда подготовила для тебя 3 тестирования, чтобы помочь тебе сделать правильный выбор!</p>
    <p>Каждый тест основан на различных методиках и выдаст тебе рекомендуемую профессию, но если ты пройдешь все, то тебя ждёт общий результат для лучшего понимания :)</p>
    <p>Скорее жми на кнопку и начнём!</p>
{% endblock %}