{% extends 'main/layout.html' %}

{% block title %}Тест 3{% endblock %}

{% block main %}
    <h1>Третий тест</h1>
    <div class="content-box">
        <p>Страница третьего теста с более сложной структурой.</p>

        <div class="row">
            <div class="col-md-6">
                <h3>Колонка 1</h3>
                <p>Содержимое первой колонки.</p>
            </div>
            <div class="col-md-6">
                <h3>Колонка 2</h3>
                <p>Содержимое второй колонки.</p>
            </div>
        </div>
    </div>
{% endblock %}